.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: 100%; // 100% er jaygay cover likhleu same kaj korbe
  border-radius: 1.5rem;
  box-shadow: 0 2.5rem 2rem rgba($color-black, 0.2);

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 1.5rem;
    box-shadow: 0 2.5rem 2rem rgba($color-black, 0.2);
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 1.5rem;
    box-shadow: 0 2.5rem 2rem rgba($color-black, 0.2);
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}

// eta kintu different form tai alada kore likhlam
.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 0.7rem;
    background-color: rgba($color-white, 0.6);
    border: none;
    width: 90%;
    display: block;
    box-shadow: 0 0.5rem 1.5rem rgba($color-black, 0.1);
    transition: all 0.3s;

    border-bottom: 0.3rem solid transparent;
    // tahole ar click korar por niche halka sorbe na

    @include respond(tab-port) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      border-bottom: 0.3rem solid $color-primary;
      // border-bottom-left-radius: 0.7rem;
      // border-bottom-right-radius: 0.7rem;
    }

    &:focus:invalid {
      border-bottom: 0.3rem solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.4rem;
    font-family: inherit;
    color: inherit;
    font-weight: 700;
    text-shadow: 0 0.2rem 0.1rem rgba($color-grey-dark-2, 0.5);
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  // Adjacent sibling holo(pasapasir jonno)(+), ar General Sibling holo(onekgulor jonno)(~)
  &__input:placeholder-shown + &__label {
    // initial state
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 48%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    padding-left: 4.5rem;
    position: relative;
  }

  &__radio-button {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border: 0.5rem solid $color-primary;
    border-radius: 50%;
    position: absolute;
    top: -0.4rem;
    left: 0;

    &::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      background-color: $color-primary;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    // jokhon radio-input checked hobe, tokhon radio-label er moddher radio-button er ::after pseudo element kaj korbe, ekhane general sibling na kore adjacent sibling korleu hoto
    opacity: 1;
  }
}
