// suppose ami 2sec animation dite cai. so 2sec er upor base kore 0% 80% esob hobe. oi 2sec e ami animation kemon cai seta
@keyframes moveInLeft {
  /* moveInLeft er jaygay any name use korte parbo */
  0% {
    opacity: 0;
    /* transform: translateX(-100px) rotate(0deg); */
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
